.properties-label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 8;
}

.properties-row {
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: white;
    -fx-padding: 3;
    -fx-spacing: 5;
}
    
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}