.propertyName {
    -fx-font-size: 12px;
    -fx-font-family: "Sofia Pro";
    -fx-text-fill: white;
}
.propertyValue {
    -fx-max-width: 125px;
    -fx-padding: 5 5 5 15;
    -fx-text-fill: white;
    -fx-background-radius: 100px;
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-border-radius: 100px;
    -fx-effect: none;
}

.propertyValue:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
}