/*@font-face {*/
    /*src: local("bebaskai.otf");*/
/*}*/

#parentPane {
    -fx-background-color: #808080;
}

.slider .track {
    -fx-pref-height:20;
}

.slider {
    -fx-accent: ghostwhite;
    -fx-border: black;
}

.slider:vertical .track {
    -fx-pref-width:20;
}

.slider .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-background-color: black;
}

.paneText {
    -fx-fill: #DDDDDD;
    -fx-font-family: Impact;
    -fx-font-size: 24;
}

.descText {
    -fx-fill: #DDDDDD;
    -fx-font-size: 15;
}

.permaPane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.thumbPane {
    -fx-background: #333333;
    -fx-background-color: #333333;
    -fx-border-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.descriptionPane {
    -fx-background-color: transparent;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-alignment: center;
}

.descriptionTextPane {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.leftPane {
    -fx-background-color: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 0 15 15 0;
    -fx-background-radius: 0 15 15 0;
}

.rightPane {
    -fx-background-color: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 15 0 0 15;
}

.centerPane {
    -fx-background-color: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.bottomPane {
    -fx-background-color: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 15 15 0 0;
    -fx-background-radius: 15 15 0 0;
}

.favoriteButton {
    -fx-background-color: transparent;
}

.largeButton {
    -fx-background-color: ghostwhite;
    -fx-font-family: Impact;
    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, lightgray, 10, 0, 0, 0);
    -fx-background-radius: 20 20 20 20;
    -fx-cursor: hand;
}

.smallButton {
    -fx-background-color: ghostwhite;
    -fx-font-family: Impact;
    -fx-font-size: 16;
    -fx-background-radius: 20 20 20 20;
}

.smallButton:pressed{
    -fx-effect: dropshadow(three-pass-box, lightgray, 10, 0, 0, 0);
}

.smallButton:hover{
    -fx-background-color: #d3d3da;
}

.socialLabel{
    -fx-font-family: Impact;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.socialScrollPane{
    -fx-background: #333333;
    -fx-background-color: #333333;
    -fx-pref-height: 100;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.socialButton{
    -fx-alignment: center;
    -fx-background-color: ghostwhite;
}

.socialScoreLabel{
    -fx-font-family: Impact;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-padding: 3;
}