/* Styles will gradually be moved here as needed */

.gridPane {
    -fx-padding: 15 15 15 15;
    -fx-background-color: #284376;
    -fx-alignment: "center";
}

#titleRegion {
    -fx-pref-width: 770;
    -fx-pref-height: 75;
    -fx-alignment: "bottom-left";
    -fx-background: #B0C4DE;
    -fx-background-radius: 5 5 5 5;
}

.scroll-pane {
    -fx-padding: 5 5 5 5;
    -fx-background: #B0C4DE;
    -fx-background-radius: 5;
    -fx-hbar-policy: "never";
}

#gamesRegion {
    -fx-pref-width: 380;
    -fx-pref-height: 560;
}

#descRegion {
    -fx-pref-width: 770;
    -fx-pref-height: 475;
}

.label {
    -fx-font-family: 'Trebuchet MS';
    -fx-font-size: 20;
    -fx-text-fill: 'white';
}

#titleLabel {
    -fx-font-size: 50;
}

.vbox {
    -fx-background: lightsteelblue;
    -fx-background-radius: 5;
    -fx-background-color: lightsteelblue;
    -fx-pref-width: 100;
    -fx-pref-height: 350;
}

#panel {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}
