/* Styles will gradually be moved here as needed */

.gridPane {
    -fx-padding: 15 15 15 15;
    -fx-background-color: #808080;
    -fx-alignment: center;
}

#descGrid {
    -fx-padding: 20;
    -fx-alignment: "top-left";
}

#titleRegion {
    -fx-pref-width: 770;
    -fx-pref-height: 75;
    -fx-alignment: "bottom-left";
    -fx-background: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.scroll-pane {
    -fx-padding: 5 5 5 5;
    -fx-background: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-background-radius: 5;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#gamesRegion {
    -fx-pref-width: 370;
    -fx-pref-height: 560;
}

#descRegion {
    -fx-pref-width: 770;
    -fx-pref-height: 475;
}

.label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#titleLabel {
    -fx-font-size: 50;
}

#gamesBox {
    -fx-background-radius: 5;
    -fx-pref-width: 100;
    -fx-pref-height: 350;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

#buttonsBox {
    -fx-pref-width: 200;
    -fx-spacing: 10;
    -fx-alignment: "top-center";
}

#options {
    -fx-background-radius: 5;
    -fx-pref-width: 375;
    -fx-pref-height: 425;
    -fx-alignment: center;
}

.button, .button:focused {
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#FFFFFF, #EEEEEE),
    radial-gradient(center 50% -40%, radius 200%, #EEEEEE 45%, #FFFFFF 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

.button:hover{
    -fx-background-color:
            linear-gradient(#EEEEEE, #CCCCCC),
            radial-gradient(center 50% 50%, radius 100%, #CCCCCC, #EEEEEE);
}

.button:pressed {
    -fx-background-color:
            linear-gradient(#AAAAAA, #555555),
            #EEEEEE, #CCCCCC,
            radial-gradient(center 50% 50%, radius 100%, #FFFFFF, #AAAAAA);
}
